/*Definições gerais*/
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*Header CSS*/
header{
    width: 100%;
    height: 25%;
    padding-top: 15px;
    background-color: #008584;
    border-bottom: 5px solid #bcbcbc;
}

header h1{
    color: #e9e9e9;
    padding-bottom: 20px;
    font-size: 3em;
}

.color-imc{
    color: #f5f5f5;
}

header h2{
    color: #e9e9e9;
    padding-bottom: 10px;
}

/*Main CSS*/
main section{
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.box-imc{
    width: 40%;
    height: 300px;
    border: 2px solid #008584;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #008584;
    background-color: #f5f5f5;

    margin: 15px;
    padding: 10px;

}

form{
    padding: 5px;
}

form div h3{
    margin-bottom: 10px;

    letter-spacing: 1px;
    font-size: 1.3em;
    font-weight: 800;
    color: #01caca;
    text-decoration: underline;
    text-transform: uppercase;

}

.inputs{
    display: block;
    letter-spacing: 1px;
    padding: 5px;
    height: 270px;

    color: #01caca;
    font-weight: 700;
    font-size: 1.1em;

    justify-content: center;
    align-items: center;
}

.inputs div{
    padding: 10px;

}

.input-name input{
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px 2px #008584;
    outline: 0;
    padding: 3px;
}

.input-height input{
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px 2px #008584;
    outline: 0;
    padding: 3px;

}

.input-Weight input{
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px 2px #008584;
    outline: 0;
    padding: 3px;

}

#button{
    border: none;
    background-color: #01caca;
    color: #ffff;
    padding: 10px;
    border-radius: 8px;
    margin-top: 8px;

    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;

    box-shadow: 0px 0px 10px 1px  #008584;
    cursor: pointer;
}

#button:hover{
    background-color: #efefef;
    color: #01caca;
    transition: 0.5s;
}

.box-answer{
    width: 50%;
    height: 300px;
    margin: 10px;
    border: 2px solid #008584;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #008584;
    background-color: #f5f5f5;
}

.box-answer p{
    text-align: justify;
    font-size: 1.1em;
    font-weight: 700;

    margin: 15px;
    padding: 5px;

    color: #237d7d;
}

#res{
    width: 50%;
    color: #32302f;
    font-weight: 800;
}

/*Footer CSS*/
footer{
    background-color: #008584;
    color: #ffff;
    border-top: 5px solid #bcbcbc;

    width: 100%;
    height: 245px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a img{
    width: 40px;
    border-radius: 100px;
    margin: 8px;
    box-shadow: 0px 0px 2px 1px #efefef;

}

.social-media a img:hover{
    transform: scale(1.2);
    transition: 0.5s;

    box-shadow: 0px 0px 5px 2px #efefef;
}

.credits{
    font-size: 1.2em;
    font-weight: 800;
}

.credits p span{
    letter-spacing: 1px;
}




